.parent_container {
  width: 100vw;
  overflow-x: auto;
  display: grid;
  place-items: center;
}

.main_container {
  width: 1100px;
}

.content {
  padding: 20px;
  margin: 0 auto;
  width: 1100px;
  height: max-content;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 28px;
  margin: 30px 0;
  color: #1e1e2a;
  display: flex;
  justify-content: space-between;
}

hr {
  height: 26px;
  border: 0;
  border-right: 1px solid #e8e8ee;
}

.action_container {
  display: flex;
  gap: 16px;
}

.filters_section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin: 20px 0;
}

.table_container {
  width: 100%;
  overflow-x: auto;
}

/* .parent {
  border: 10px solid purple;
  overflow-x: auto;
  width: 100vw;
}

.main_container {
  width: 10000px;
  height: 100vh;
  background-color: red;
} */
