.parent_container {
  width: 100vw;
  overflow-x: auto;
  display: grid;
  place-items: center;
}

.main_container {
  width: 100vw;
  overflow-x: auto;
  display: grid;
  place-items: center;
  padding: 20px;
}

.content {
  width: 1100px;
}

header {
  font-size: 28px;
  margin: 30px 0;
  color: #1e1e2a;
  display: flex;
  justify-content: space-between;
}

hr {
  height: 26px;
  border: 0;
  border-right: 1px solid #e8e8ee;
}

.action_container {
  display: flex;
  gap: 16px;
}

.filters_section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin: 20px 0;
}

.table_container {
  width: 100%;
  overflow-x: auto;
}
