.main_container {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  gap: 6px;
  outline: none;
}

.square {
  border-radius: 8px;
}

.circle {
  border-radius: 16px;
}

.rounded {
  padding: 8px;
  border-radius: 50px;
}

.primary {
  background-color: white;
  color: #363644;
  border: 1px solid #e8e8ee;
}

.primary:hover {
  background-color: #f0f1f4;
}

.secondary {
  background-color: #f0f1f4;
  color: #363644;
}

.secondary:hover {
  background-color: #e8e8ee;
}

.image {
  height: 20px;
  object-fit: contain;
  border-radius: 50%;
}

.circle .image {
  height: 18px;
}
